/* reset */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */

a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  /* max-width: 100%; */
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  color: #000;
  font-family: "Tinos", serif;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}
/* reset */

/* start heder */
.heder {
  margin-bottom: 372px;
  background-image: url(../img/heroimage.jpg);
}
.heder-nav {
  padding-bottom: 203px;
  display: flex;
  justify-content: start;
  color: #fff;
}
.logo-wrap {
  margin: 0;
  padding-top: 50px;
  padding-left: 165px;
  padding-right: 268px;
}
.logo-wrap__pic {
  display: block;
}
.navbar {
  padding-top: 55px;
}
.navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.item-phone {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.item-phone__number {
  padding-left: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.navlist__item {
  padding-right: 23px;
}

.line {
  display: block;
  height: 1px;
  width: 51px;
  background-color: #fff;
  transform: rotate(90deg);
}
.navlist__item:nth-child(5),
.navlist__item:nth-child(6),
.navlist__item:nth-child(8) {
  padding: 0;
}
.navlist__item:nth-child(7) {
  padding-right: 45px;
}
.navlist__item-btn {
  display: block;
  padding: 14px 18px;
  background-color: #ff7400;
}
.navlist__item-link,
.navlist__item-phone {
}
.navlist__item-link:hover,
.navlist__item-phone:hover {
  color: #d67e35;
  transition: 0.35s linear;
}
.navlist__item-btn:hover {
  background-color: #ffffff;
  color: #ff7400;
  transition: 0.35s linear;
}

.heder-title__btn {
  width: 137px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}
.heder-title__welcome {
  padding-left: 199px;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  color: #d67e35;
}
.heder-title__restaurant-name {
  padding-left: 175px;
  padding-bottom: 6px;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 92px;
  color: #d67e35;
}
.heder-title__slogan {
  padding-left: 271px;
  padding-bottom: 21px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-transform: uppercase;
}
.slogan__line {
  display: block;
  height: 2px;
  width: 61px;
  background-color: #fff;
}
.slogan__text {
  padding: 0 8px;
}
.heder-title__btn {
  padding-left: 356px;
  padding-bottom: 231px;
  box-sizing: unset;
}
/* end heder */

/* start intro */
.intro {
  position: absolute;
  display: flex;
  top: 693px;
  left: 166px;
}
.intro__card {
  margin-right: 31px;
  width: 349px;
  height: 328px;
  background-color: #fff;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}
.intro__card-logo {
  padding-top: 48px;
  padding-bottom: 4px;
  display: block;
  margin: 0 auto;
}
.intro__card-title {
  padding-bottom: 20px;
  text-align: center;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #2c2c2c;
}
.text_bronze {
  color: #bc9060;
}
.intro__card-desc {
  width: 330px;
  margin: 0 auto;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #656363;
}
/* end intro */

/* start history */
.history {
  margin: 0 166px;
  margin-bottom: 113px;
  /* padding-bottom: 113px; */
  display: flex;
}
.history__desc {
  margin-right: 111px;
}
.history__desc-title {
  padding-top: 15px;
  padding-left: 54px;
  padding-bottom: 21px;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #000000;
}
.history__desc-text {
  width: 444px;
  height: 217px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #656363;
}
.counter__list {
  padding-top: 39px;
  padding-left: 62px;
  padding-right: 82px;
  display: flex;
  justify-content: start;
}
.counter__list__item-num {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
}
.counter__list__item-num:nth-child(1) {
  padding-right: 41px;
}
.counter__list__item-num:nth-child(2) {
  padding-right: 30px;
}
.counter__list__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.history__footer {
  padding-left: 165px;
  display: flex;
  align-items: center;
  background-image: url(../img/bg-history.jpg);
}
.text_orange {
  color: #d67e34;
}
.history__footer-title {
  padding-top: 80px;
  padding-bottom: 20px;
  width: 601px;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 60px;
}
.history__footer-text {
  padding-bottom: 104px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}
.history__footer-btn {
  padding-left: 331px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

/* end history */

/* start our dishes */
.dishes{
  margin: 132px 146px 152px 165px;
}
.dishes__title {
  padding-left: 423px;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #000000;
}
/* end our dishes */
