/* reset */
body {
  margin: 0 auto;
  max-width: 1440px;
  color: #000;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}
/* reset */

/* start heder */
.heder {
  display: flex;
  justify-content: space-between;
  background-image: url(../img/heroimage.jpg);
  color: #fff;
}
.logo-wrap {
  padding-top: 50px;
  padding-left: 165px;
}
.logo-wrap__pic {
  display: block;
}
.navbar {
  padding-top: 55px;
  padding-right: 165px;
}
.navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.item-phone {
  display: flex;
  flex-direction: column;
}
.item-phone__number {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

/* end heder */
